<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <header>
        <nav>
            <img src="img/logo-mercado-liebre.svg" alt="logo de Mercado Liebre"/>

            <h1>hola_probando h1</h1>
            <form action="" method="get">
                <input
                     type="text"
                     name=""
                     id=""
                     placeholder="Buscar productos o marcas"
                />
                <button type="submit">enviar</button>
            </form>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
            
        </nav>
    </header>

    <main>
        <h2>bai</h2>

    </main>


    <footer>
        <h3>hola2</h3>

    </footer>
</body>
</html>