<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <header>
        <nav>
            <img src="img/logo-mercado-liebre.svg" width="200px" alt="logo de Mercado Liebre"/>

            <h1>hola_probando h1</h1>
            <h2>hoa probando h2</h2>
            <h3>hola_probando h3</h3>
            <h4>hola_probando h4</h4>
            <h5>hola_probando h5</h5>
            <h6>hola_probando h6</h6>

            <form action="" method="get">
                <input
                     type="text"
                     name=""
                     id=""
                     placeholder="Buscar productos o marcas"
                />
                <button type="submit">enviar</button>
            </form>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
            <img src="img/img-home-banner.jpg" width="300px" alt="logo de Mercado Liebre"/>
            
        </nav>

    </header>

    <main>
        
        <section>
            <h2>Basado en su última visita</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" width="200px" alt="logo de Cafetera Moulinex"/>

                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <div>
                <img src="img/img-macbook-pro-2019.jpg" width="200px" alt="logo de Macbook Pro"/>

                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div>
                <img src="img/img-samsung-galaxy-s10.jpg" width="200px" alt="logo de Samsung Galaxy S10"/>

                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div>
                <img src="img/img-tv-samsung-smart.jpg" width="200px" alt="logo de SmartTv Samsung 43"/>

                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>

            </div>

        </section>

        <section>


            <h2>Sección de Ofertas</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" width="200px" alt="logo de Cafetera Moulinex"/>

                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <div>
                <img src="img/img-macbook-pro-2019.jpg" width="200px" alt="logo de Macbook Pro"/>

                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div>
                <img src="img/img-samsung-galaxy-s10.jpg" width="200px" alt="logo de Samsung Galaxy S10"/>

                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div>
                <img src="img/img-tv-samsung-smart.jpg" width="200px" alt="logo de SmartTv Samsung 43"/>

                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>

            </div>

        </section>

    </main>


    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        

        
        

    </footer>
</body>
</html>