<header>
    <nav >
        <div class="up">
            <img src="img/logo-mercado-liebre.svg" width="200px" alt="logo de Mercado Liebre"/>

            <form class="buscador" action="" method="get">
                <input
                     type="text"
                     name=""
                     id=""
                     placeholder="Buscar productos o marcas"
                />
                <button class="searchbutton" type="submit">Enviar</button>

            </form>
            <h4 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>

        </div>
        
        <div class="Navbottom" >
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket" ></i> </a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping" ></i></a></li>
            </ul>

        </div>
        <div class="burguer">
          <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
    <div class="banner">
      <img src="img/img-home-banner.jpg" width="300px" alt="logo de Mercado Liebre"/>
    </div>
        

</header>
